body{
    text-align: center;
}

.body{
    height: 100vh;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modeBtn{
    padding: 9px 15px;
    border-radius: 17px;
    font-size: 17px;
    background-color: black;
    color: white;
    font-weight:700;
    border: 1px solid black;
}

.questionBox{
    background-color: #ffffff;
    padding: 50px;
    margin:0% 23.5%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.option{
    border: 0px;
    margin: 10px;
    padding: 7px 10px;
    border-radius: 10px;
    background-color: aliceblue; 
    cursor: pointer;
}
    .option:hover{
        background-color: #84a6fb;
        border: 1px solid rgb(93, 93, 255);
        transition:450ms;
    }

.hlbox{
    display: flex;
    justify-content: space-around;
}

.highlight,.removehighlight{
    padding: 7px 10px;
    border-radius: 10px;
    font-weight: 550;
    font-size: 17px;
    border: 0px;
}
    .highlight:hover{
        background-color: rgb(254, 157, 157) ;
    }
    .removehighlight:hover{
        background-color: rgb( 157, 157 , 254) ;
    }
.highlight{
    background-color: #3498db;
}
.removehighlight{
    background-color: #ecf0f1 ;
}

.restart{
    background: linear-gradient(to right, rgb(255, 89, 89), rgb(89, 89, 255));
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 25px;
}
    .restart:hover{
        background: linear-gradient(to right, rgb(255, 125, 125), rgb(125, 125, 255))
    }